<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>关于我们</title>
<link rel="stylesheet" type="text/css" href="web/css/reset.css" />
<link rel="stylesheet" type="text/css" href="web/css/common.css" />
<link rel="stylesheet" type="text/css" href="web/css/heder_nav-menu.css"/>
<link rel="stylesheet" type="text/css" href="web/css/about.css" />
</head>
<body>
{{include 'web/common/header.html'}}
<div id="header_nav-wrapper">
    <div class="header_nav">
    	<h2>联系我们 Contact us <span>让品牌与您同在</span></h2>
    </div>
</div>
<div id="header_title-wrapper">
</div>

<div id="main-wrapper">
    <div class="main_top" style="min-height:518px;">
       <a href="#"><img src="web/images/about/main_top-image.jpg" alt="&nbsp;"/></a>
        <dl>
            <dt>联系我们 Contact us</dt>
            <dd>
                电话：18260938093
            </dd>
            <dd>
                邮箱：MrVardy@163.com
            </dd>
            <dd>
                地址：广州市天河区中山大道
            </dd>
        </dl>

    </div>
   
    
</div>



<div id="footer-wrapper">
            <div class="footer-inner">
                <p>Copyright © 2002-2019广州互联网服务有限公司 版权所有 Power by DedeCms</p>
                <p>电话：18260938093&nbsp;&nbsp;&nbsp;E-mail：MrVardy@163.com&nbsp;&nbsp;&nbsp;地址：广州市天河区中山大道</p>
            </div>
</div>
        


</body>
</html>
