<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{setting.sitetitle}}</title>
<meta name="keywords" content="{{setting.keyword}}">
<meta name="description" content="{{setting.description}}">
<link rel="stylesheet" type="text/css" href="web/css/reset.css" />
<link rel="stylesheet" type="text/css" href="web/css/common.css" />
<link rel="stylesheet" type="text/css" href="web/css/heder_nav-menu.css"/>
<link rel="stylesheet" type="text/css" href="web/css/service.css"/>
</head>
<body>
{{include 'web/common/header.html'}}
<div id="header_nav-wrapper">
    <div class="header_nav">
    <h2>尊享服务&#160;<span>将为您提供以下服务致力为您提供优质产品，同时也是市场竞争必胜的保证!
互联网+</span></h2>  
    </div>
</div>
<!-- <div id="header_title-wrapper">
    <div class="header_title clear">
        <p >
        <a href="#">服务优势</a>
        <a href="#">服务范畴</a>
        </p>
    </div>
</div> -->

<div id="main-wrapper">

    <div class="main">    
    
    		<ul class="clear">
				{{each serviceList}}
					<li class="service">
					   <a href="/info/{{@$value._id}}">
						    <img src="{{$value.img_url}}"/>
							<h3>{{$value.title}}</h3>
						</a>
					</li>
				{{/each}}
                                
			</ul>
    
    </div>

</div>




<div id="footer-wrapper">
            <div class="footer-inner">
                <p>Copyright © 2002-2019广州互联网服务有限公司 版权所有 Power by DedeCms</p>
                <p>电话：18260938093&nbsp;&nbsp;&nbsp;E-mail：MrVardy@163.com&nbsp;&nbsp;&nbsp;地址：广州市天河区中山大道</p>
            </div>
</div>


</body>
</html>
